<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalar Node con nvm</title>
</head>
<body>
    <h1>Instalar Node con nvm</h1>
    <ul>
        <li><p><b>Instalar node:</b></p> 
            <p>Para instalar node usaremos un modulo llamado <b>nvm</b>:
            <ul>
                <li>Para instarlo: <code>curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.2/install.sh | bash</code></li>
                <li>Una vez instalado necesitamos reiniciar el servido asi: <code>source ~/.bashrc</code></li>
                <li>Para instalar node: <code>nvm install node</code></li>
                <li>nvm use node</li>
            </ul></p></li>
    </ul>
    <p>NOTA: en <b>windows</b> tienes tienes que espesificar la vercion par que se instale.</p>
</body>
</html>