<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Pra colocar characteres espesiales, parecido a como se hace en windows con los alt codes, se puede usar.</p>
    <p>cntrl+shift+u+unicode hexadecimal</p>
</body>
</html>