<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Renerizar subdocumentos</h1>
    <p>Si se esta usando un documento con subdocumentos se puede usar.</p>
    <code>
        &lt;% ts.forEach(function (ts) { %> <br>
        &lt;p><%= ts.nalga.titulo %>&lt;/p> <br>
        &lt;p><%= ts.nalga.cuca %&lt;/p> <br>
        &lt;% }) %> <br>
    </code>
</body>
</html>