<p>Para establecer varios derectorios, dnde expres va a buscar el contenido a renderizar (no ah sido probado.)</p>
<code>app.set('views', [__dirname + '/viewsFolder1', __dirname + '/viewsFolder2']);</code>

