<p>EXPRESS NO PUEDE renderizar html de manera natural.</p>
<p>ni usando el static, ni usando un vinculo a, dentro de una pagina, y haciendo referencia al archivo.</p>
<p>dicen que hay maneras usando modulos y tal, falta probar eso.</p>