<h2>Para poder mandar y recivir array usando formularios</h2>
<p><b>Formulario</b></p>
<p>En el formulario simplemente, envia los datos a un mismo input con el mismo name</p>
<code>
    &lt;input type="text" name="nalga" value"hola"> <br>
    &lt;input type="text" name="nalga" value="nalga"> <br>
</code>
<p><b>Express</b></p>
<p>en express el objeto automaticamente sera un array con los dos valores mandados</p>
<code>
    req.body.nalga <br>
 <br>
    ["hola","nalga"] <br>
</code>






