<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Conectarse remotamente a Mongodb</h2>
        <div>
            <h2>Desde una consola de comandos</h2>
            <code>mongo --host ip-del-servidor:puerto</code>
        </div>
        <div>
            <h2>Desde mongodb compas</h2>
            mongodb://ip-del-servidor:27017/?readPreference=primary&appname=MongoDB%20Compass&ssl=false
        </div>
        <div>
            <h2>Desde una aplicacion</h2>
            <code>mongodb://ip-del-servidor/nombre-de-la-basededatos</code>
        </div>
    </div>
</body>
</html>